# Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

#Explaination :-

EveryTime we add 2 and get the following result.
b() => a is 0 + 2 = 2 
b() => a is 2 + 2 = 4
b() => a is 4 + 2 = 6

Finally, a is 6

# Question 2

In [3]:
import os

#creates function 'filelength' as mentioned in question
def fileLength(f):

  try:
#it counts total length of file    
    length = os.path.getsize(f)

    print (length)
    
#filenotfounderror exception  
  except FileNotFoundError:
#Error message
    print("File ",str(f),"is not found")

In [4]:
fileLength('Filelength.txt')

127

In [5]:
fileLength('idterm.py')

File  idterm.py is not found

# Question 3

In [6]:
#created class as mentioned in the question which is main class

class Marsupial:
    
#create Constructor for main class
    def __init__(self):
        self.list = []

#create main function  "put_in_pouch" for main class
    def put_in_pouch(self, item):
        self.list.append(item)

#create function for Return List
    def pouch_contents(self):
        return self.list

#create Class kangaroo as subclass of Mursupial
class Kangaroo(Marsupial):
    
#create Constructor for to take, as input, the coordinates a and b of the Kangaroo object
    def __init__(self,a,b):
        Marsupial.__init__(self)
        self.a = a
        self.b = b

#support method "Jump" which takes number values da and db as input and moves the kangaroo by da units along the x-axis and by db units along the y-axis
    def jump(self,da,db):
        self.a += da
        self.b += db

#It overloads method "Str" which behaves accordng to user.
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.a,self.b)

In [7]:
K = Kangaroo(0,0)
print(K)

I am a Kangaroo located at coordinates (0,0)

In [8]:
K.put_in_pouch('doll')
K.put_in_pouch('firetruck')
K.put_in_pouch('kitten')
print(K.pouch_contents())

['doll', 'firetruck', 'kitten']

In [9]:
K.jump(1,0)
K.jump(1,0)
K.jump(1,0)
print(K)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [10]:
#create 'collatz' funcion which takes a as input from user
def collatz(a):

#Here it print value of a
    print(a)
#Here I used if elif else and also it is recursive 
    if a==1:
        return 
#for a is even    
    elif a%2==0:
        return collatz(a/2) 
    else:
#for a is odd
        return collatz(3*a+1)

In [11]:
 collatz(1)

1

In [12]:
 collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

# Question 5

In [13]:
#create binary funcion
def binary(number):
    if(number > 0):
        binary(number//2)
        print(number%2, end='')

In [14]:
binary(0)

In [15]:
binary(1)

1

In [16]:
binary(3)

11

In [17]:
binary(9)

1001

# Question 6

In [18]:
import re
from html.parser import HTMLParser
infile = open('w3c.html') 
content = infile.read() 
infile.close()

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global getHeading
        find = re.match(r'h(\d)', tag, re.I) 
        if find: getHeading = int(find.group(1))
            
    def handle_endtag(self, tag):
        find = re.match(r'h(\d)', tag, re.I)
        if find: getHeading = 0

    def handle_data(self, data):
        if getHeading > 0:
            tab = getHeading - 1
            out = " "*tab
            print(out+data)
            
getHeading = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

# Question 7

In [19]:
import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    
    
    for link in soup.find_all('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

Here, I give dataset table name as "table"

In [20]:
%load_ext sql
%sql sqlite:///climate.db

In [21]:
%%sql
 create table weather(City varchar(20), Country varchar(20), Season varchar(20), Temperature varchar(20), Rainfall varchar(20))

 * sqlite:///climate.db
Done.

[]

In [22]:
%%sql
insert into weather values('Mumbai','India', 'Winter','24.8', '5.9');
insert into weather values('Mumbai','India', 'Spring','28.4', '16.2');
insert into weather values('Mumbai','India', 'Summer','27.9', '1549.4');
insert into weather values('Mumbai','India', 'Fall','27.6', '346.0');
insert into weather values('London','United Kingdom', 'Winter','4.2', '207.7');
insert into weather values('London','United Kingdom', 'Spring','8.3', '169.6');
insert into weather values('London','United Kingdom', 'Summer','15.7', '157.0');
insert into weather values('London','United Kingdom', 'Fall','10.4', '218.5');
insert into weather values('Cairo','Egypt', 'Winter','13.6', '16.5');
insert into weather values('Cairo','Egypt', 'Spring','20.7', '6.5');
insert into weather values('Cairo','Egypt', 'Summer','27.7', '0.1');
insert into weather values('Cairo','Egypt', 'Fall','22.2', '4.5');

 * sqlite:///climate.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [23]:
%%sql
select * from weather

 * sqlite:///climate.db
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Winter', '4.2', '207.7'),
 ('London', 'United Kingdom', 'Spring', '8.3', '169.6'),
 ('London', 'United Kingdom', 'Summer', '15.7', '157.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Winter', '13.6', '16.5'),
 ('Cairo', 'Egypt', 'Spring', '20.7', '6.5'),
 ('Cairo', 'Egypt', 'Summer', '27.7', '0.1'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

a

In [24]:
%%sql
select Temperature from weather

 * sqlite:///climate.db
Done.

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

In [25]:
%%sql
select DISTINCT City from weather

 * sqlite:///climate.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

b

c

In [26]:
%%sql
select * from weather where Country='India'

 * sqlite:///climate.db
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0')]

d

In [27]:
%%sql
select * from weather where Season='Fall'

 * sqlite:///climate.db
Done.

[('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

e

In [28]:
%%sql
SELECT  City, Country, Season, AVG(Rainfall) FROM weather 
GROUP BY Rainfall
Having AVG(Rainfall) BETWEEN 200 AND 400;

 * sqlite:///climate.db
Done.

[('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5),
 ('Mumbai', 'India', 'Fall', 346.0)]

f

In [29]:
%%sql
select City, Country, AVG(Temperature) FROM weather
WHERE Season = 'Fall'  
group by Temperature
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

 * sqlite:///climate.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

g

In [30]:
%%sql
select City, SUM(Rainfall) FROM weather where City='Cairo'

 * sqlite:///climate.db
Done.

[('Cairo', 27.6)]

h

In [31]:
%%sql
select Season, SUM(Rainfall) FROM weather
group by Season

 * sqlite:///climate.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [32]:
%%sql
drop table weather

 * sqlite:///climate.db
Done.

[]

# Question 9

In [33]:
#List which is given is question
list = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [34]:
#List comprehension expressions 
print([a.upper() for a in list])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [35]:
print([a.lower() for a in list])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [36]:
print([len(a) for a in list])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [37]:
print([[a.upper(),a.lower(),len(a)] for a in list] )

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [38]:
print([a.lower() for a in list if len(a)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']